# Enforce LF line endings for all text files
* text=auto eol=lf

# Explicitly declare text files
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.ini text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.dic text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.wav binary
*.mp3 binary
