aiohttp
deepl
emoji
gTTS
numpy
PyAudio
pywin32
soundfile
twitchio[starlette]
pytest
pytest-asyncio
pyinstaller
pyinstaller-hooks-contrib
dataclasses-json
google-cloud-translate
types-pyaudio
types-pywin32
types-dataclasses-json