aiohttp==3.13.3
deepl==1.28.0
emoji==2.15.0
gTTS==2.5.4
numpy==2.4.3
sounddevice==0.5.5
pywin32==311
soundfile==0.13.1
twitchio==3.2.1
pytest==9.0.2
pytest-asyncio==1.3.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
dataclasses-json==0.6.7
google-cloud-translate==3.24.0
google-cloud-speech==2.37.0
types-pywin32==311.0.0.20260323
types-dataclasses-json==0.5.9
google-api-python-client-stubs==1.34.0
onnxruntime==1.24.4
coverage==7.13.5
ruff==0.15.6
mypy==1.19.1
